body {
    background-color: #fafafa;
}

.App {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.label-box {
    background-color:  #fafafa;
    padding: 1em;
    font-weight: bold;
}

.label-box p {
    margin: 0;
    font-size: 1.25rem;
    white-space: pre-wrap;
}

.notice {
    text-align: center;
    padding: 6em 2em;
    font-size: 1.25em;
}

.notice button {
    font-size: 1.5rem;
}